<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <div class="cartDisplay">
      <p><em><%= item.product.name %></em> | <%= item.product.id %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"}, remote: true %></p>
      <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
    <% end %>
    <p>Your Total: <%= number_to_currency current_order.totalPrice %></p>
  <% else %>
    <p>Your shopping cart is empty.</p>
  <% end %>
</div>

<%= link_to "Click here to pay", new_charge_path %><br>

<%= link_to "Return to Product List", products_path %>
